:root {
    --primary-color: #1e1e1e;
    --secondary-color: #171717;
    --contrast-gray: #2c2c2d;
    --gray-hover: #292929;
    --light-gray: #747474;
    --hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
}

html, body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    color: white;
}

.preloader{
    width: 100%;
    height: 100vh;
    background-color: #171717;
    position: fixed;
    z-index: 9999;
    display: grid;
	place-items: center;
}

.pl,
.pl__worm {
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.pl {
	animation-name: bump;
	animation-timing-function: linear;
	width: 8em;
	height: 8em;
}
.pl__ring {
	stroke: hsla(var(--hue),10%,10%,0.1);
	transition: stroke 0.3s;
}
.pl__worm {
	animation-name: worm;
	animation-timing-function: cubic-bezier(0.42,0.17,0.75,0.83);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
	.pl__ring {
		stroke: hsla(var(--hue),10%,90%,0.1);
	}
}

/* Animations */
@keyframes bump {
	from,
	42%,
	46%,
	51%,
	55%,
	59%,
	63%,
	67%,
	71%,
	74%,
	78%,
	81%,
	85%,
	88%,
	92%,
	to { transform: translate(0,0); }
	44% { transform: translate(1.33%,6.75%); }
	53% { transform: translate(-16.67%,-0.54%); }
	61% { transform: translate(3.66%,-2.46%); }
	69% { transform: translate(-0.59%,15.27%); }
	76% { transform: translate(-1.92%,-4.68%); }
	83% { transform: translate(9.38%,0.96%); }
	90% { transform: translate(-4.55%,1.98%); }
}
@keyframes worm {
	from { stroke-dashoffset: 10; }
	25% { stroke-dashoffset: 295; }
	to { stroke-dashoffset: 1165; }
}

.sidebar-menu-button{
    display: none;
}

.sidebar-menu-button .btn-primary{
    display:block;
    margin-left: auto;
    margin-right: 0;
    padding: 8px 13px;
    background-color: var(--contrast-gray);
    border: none;
}

.sidebar-menu-button .btn-primary:hover{
    background-color: var(--gray-hover);
}

.sidebar-menu-button .btn-primary .bi{
    font-size: 20px;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    transition: .3s;
}

a.gray-text{
    display: inline-block;
    margin-top: 15px;
}

a:hover{
    color: white;
    transition: .3s;
}

.nav-link{
    overflow: hidden;
    color: var(--light-gray);
    padding-left: 20px;
}

.nav-link::after{
    content: "";
    position: absolute;
    right: 0px;
    height: 27px;
    width: 4px;
    transition: .3s;
}

.nav-link:focus, .nav-link:hover {
    color: white;
}

.nav-link:hover::after{
    content: "";
    position: absolute;
    right: 5px;
    height: 27px;
    width: 4px;
    background-color: white;
    z-index: 2;
    border-radius: 15px;
    transition: .3s;
}

.offcanvas .nav-link.choosed::after{
    content: "";
    position: absolute;
    right: 5px;
    height: 27px;
    width: 4px;
    background-color: white;
    z-index: 2;
    border-radius: 15px;
}

.offcanvas .nav-link.choosed{
    color: white !important;
}

p{
    margin-bottom: 0;
}

h3{
    font-size: 20px;
}

.rounded{
    border-radius: 15px !important;
}

.offcanvas{
    padding: 0;
    background-color: var(--secondary-color);
    --bs-offcanvas-width: 300px;
}

.offcanvas-header{
    position: relative;
    padding: 35px 20px;
    justify-content: flex-start;
}

.offcanvas-header h3{
    margin-left: 20px;
}

.offcanvas-body{
    padding: 0;
    
}

.offcanvas .nav-link{
    width: 100%;
}

.user-block{
    position: absolute;
    padding: 10px 20px;
    bottom: 20px;
    width: 100%;
    left: 0;
}

.user{
    background-color: var(--contrast-gray);
    width: 100%;
    padding: 10px 20px;
}

.user:hover{
    transition: .3s;
    background-color: var(--gray-hover) !important;
}

.user span{
    font-size: 17px;
    margin-left: 15px;
}

.user img{
    background-color: var(--primary-color);
}

li{
    width: 100%;
}

.offcanvas-body .bi{
    font-size: 22px;
    margin-right: 10px;
}

.device-dropdown .bi{
    font-size: 22px;
    margin-right: 10px;
}

.device-dropdown{
    padding: 0 20px;
}

.dropdown{
    width: 100%;
    margin-bottom: 30px;
}

.dropdown button{
    width: 100%;
    background-color: var(--contrast-gray);
    border: 2px solid transparent;
}

.btn.show{
    background-color: var(--gray-hover) !important;
    border-color: transparent !important;
}

.dropdown button:hover{
    background-color: var(--gray-hover) !important;
    border-color: transparent !important;
}

.dropdown button:focus{
    border: 2px solid white !important;
    transition: .3s;
}

.offcanvas .dropdown-toggle::after{
    display: none;
}

.dropdown-menu{
    background-color: var(--contrast-gray);
    width: 100%;
}

.dropdown-item{
    color: white;
    transition: .3s;
}

.dropdown img{
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.device-image{
    display: inline-block; 
}

.device-data{
    display: inline-block; 
    text-align: left;
}

.dropdown-item img{
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    transition: .3s;
}

.dropdown-item .rounded-circle{
    text-align: center;
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 10px;
    font-size: 24px;
    transition: .3s;
}

.dropdown-item #device-state{
    margin-left: 5px;
}

.dropdown-item:focus, .dropdown-item:hover img{
    background-color: var(--gray-hover);
    transition: .3s;
}

.dropdown-item:focus, .dropdown-item:hover .rounded-circle{
    background-color: var(--gray-hover);
    transition: .3s;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: var(--primary-color);
    color: white;
    transition: .3s;
}

.dropdown span{
    font-size: 14px;
}

.negative{
    color: #b41919;
}

.positive{
    color: #19cf2c;
}

.main-content{
    margin-left: 300px;
    padding: 35px 35px;
}

.bi-arrow-down-up{
    font-size: 18px;
    position: absolute;
    right: 0;
}

.offcanvas-header .btn{
    display: none;
}

.dark-box{
    background-color: var(--secondary-color);
    padding: 15px;
    border: 2px solid transparent;
    transition: .3s;
}

.dark-box:hover{
    border-color: white;
    transition: .3s;
}

.row>* {
    padding: calc(var(--bs-gutter-x) * .4);
}

.hello{
    margin-bottom: 25px;
}

.hello .bi{
    font-size: 14px;
}

.gray-text{
    color: var(--light-gray);
}

.status-card .text-box{
    margin-left: 15px;
}

.status-card .image-box img{
    background-color: var(--primary-color);
    padding: 10px;
    width: 75px;
    height: 75px;
}

.chart-card .text-box{
    padding: 10px 0;
}

.chart-card .text-box h5{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 3px;
}

.chart-card .text-box p{
    font-size: 14px;
}

.chart-card input{
    width: 120px;
    height: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
}

.date{
    border-radius: 10px;
    padding: 0 10px;
    background-color: var(--primary-color);
    font-size: 18px;
    cursor: pointer;
}

.temperature-card h3{
    font-size: 22px;
    margin-bottom: 15px;
}

.primary-button{
    border: solid 2px transparent;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 7px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 400;
    transition: .3s;
}

.primary-button:hover{
    background-color: var(--gray-hover);
    transition: .3s;
}

.temperature-card .choosed{
    border-color: white;
}

.relay-controll h3{
    margin-bottom: 15px;
}

.relay-controll .primary-button{
    width: 60%;
}

.device-status h3{
    margin-bottom: 15px;
}

.logs h3{
    margin-bottom: 15px;
}

.logs p{
    font-size: 14px;
}

input[disabled] {
    cursor: pointer;
}


input:focus {outline: none;}
#ui-datepicker-div {
	display: none;
	background-color: var(--contrast-gray);
	margin-top: 5px;
	border-radius: 15px;
	padding: 10px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.ui-datepicker-calendar thead th {
	padding: 0.25rem 0;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
	color: white;
}
.ui-datepicker-calendar tbody td {
	width: 2.5rem;
	text-align: center;
	padding: 0;
}
.ui-datepicker-calendar tbody td a {
	display: block;
	border-radius: 0.25rem;
	line-height: 2rem;
	transition: 0.3s all;
	color: var(--light-gray);
	font-size: 0.875rem;
	text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {	
	background-color: white !important;
    color: var(--light-gray) !important;
}

.ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: rgb(196, 59, 59);
	color: white;
}

.ui-state-highlight {
	background-color: rgba(196, 59, 59, 0.4);
	color: white !important;
}
.ui-datepicker-header a.ui-corner-all {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	transition: 0.3s all;
    color: white;
}

.ui-datepicker-header a.ui-corner-all:hover {
	background-color: var(--primary-color) !important;
}

.ui-datepicker-header a.ui-datepicker-prev {
	left: 0;
	background: url(/images/arrow.svg);
	background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 50%;
	transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
	right: 0;
	background: url(/images/arrow.svg);
    background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 50%;
}
.ui-datepicker-header a>span {
	display: none;
}
.ui-datepicker-title {
	text-align: center;
	line-height: 2rem;
	margin-bottom: 0.25rem;
	font-size: 0.875rem;
	font-weight: 500;
	padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
	color: #78909C;
	font-weight: 400;
	font-size: 0.75rem;
}

.settings h3{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
}

.settings{
    border: 2px solid transparent;
    transition: .3s;
}

.settings .primary-button{
    margin-top: 25px;
}

.settings-input{
    width: 100%;
    padding: 5px 10px;
    color: white;
    background-color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: 15px;
    font-size: 17px;
    transition: .3s;
}

.settings-input:hover, .settings-input:focus{
    color: white;
    background-color: var(--gray-hover);
    border-color: rgba(255, 255, 255, 0.507);
    border-radius: 15px;
    font-size: 17px;
    transition: .3s;
}

.settings .choose-file{
    width: 100%;
    padding: 5px 10px;
    color: white;
    background-color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: 15px;
    font-size: 17px;
    transition: .3s;
}

.settings:hover{
    border-color: white;
    transition: .3s;
}

.settings h5{
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}

.function-group input{
    text-align: center;
    margin: 0 8px;
}

.function-group input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.function-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align: center;
}

.settings .description{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}

h2 .bi{
    font-size: 28px !important;
}

.help .accordion{
    margin-top: 15px;
    --bs-accordion-bg: transparent;
}

.help .accordion-button{
    background-color: transparent;
    color: white;
    transition: .3s;
}

.help .accordion-button:not(.collapsed)::after {
    filter: invert(0.5);
    background-image: var(--bs-accordion-btn-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}

.help .accordion-button:focus{
    border: transparent;
    box-shadow: none;
}

.help .accordion-button::after{
    filter: invert(1);
}

.help .accordion-button:not(.collapsed) {
    color: var(--light-gray);
    background-color: transparent;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--contrast-gray);
    transition: .3s;
}

.help .accordion-body{
    color: white;
    font-size: 14px;
}

.help .accordion-body img{
    margin-top: 10px;
    display: block;
    width: 30%;
}

.user.choosed{
    background-color: var(--gray-hover);
    border: 2px solid white;
}

.dark-box .rounded-circle{
    background-color: var(--primary-color);
    margin-right: 7px;
}

.profile .text-box{
    margin-top: 20px;
}

@media (max-width: 1350px){
    .primary-button{
        font-size: 18px;
        padding: 7px;
    }
    .logs p{
        font-size: 13px;
    }
}

@media (max-width: 1201px){
    .device-status p{
        font-size: 14px;
    }
    .logs p{
        font-size: 12px;
    }
    h5{
        font-size: 16px;
    }
    .status-card .image-box img{
        width: 50px;
        height: 50px;
    }
    .main-content{
        margin-left: 250px;
    }
    .offcanvas{
        --bs-offcanvas-width: 250px;
    }
    .status-card .text-box{
        margin-left: 10px;
    }
    .status-card .text-box p{
        font-size: 13.5px;
    }
    .dropdown span{
        font-size: 13px;
    }
    .offcanvas-title{
        font-size: 18px;
    }
    .primary-button{
        font-size: 16px;
        padding: 4px;
    }
    .temperature-card h3{
        font-size: 20px;
    }
}

@media (max-width: 993px){
    .help .accordion-body img{
        width: 50%;
    }
    .settings p{
        text-align: center;
    }
    .device-status p{
        font-size: 16px;
    }
    .logs p{
        font-size: 16px;
    }
    .offcanvas-title{
        font-size: 20px;
    }
    .dropdown span{
        font-size: 16px;
    }
    h5{
        font-size: 18px;
    }
    .main-content{
        width: 100%;
        margin: 0
    }
    .status-card .text-box{
        margin-left: 10px;
    }
    .status-card .text-box p{
        font-size: 13px;
    }
    .sidebar-menu-button{
        display: block;
        background-color: var(--secondary-color);
        padding: 13px;
    }
    .nav-link:hover::after{
        right: 66px;
        z-index: 2;
    }
    .offcanvas .nav-link.choosed::after{
        content: "";
        position: absolute;
        right: 66px;
        height: 27px;
        width: 4px;
        background-color: white;
        z-index: 2;
        border-radius: 15px;
    }
    .offcanvas{
        --bs-offcanvas-width: 100%;
        padding: 50px;
    }
    .user-block{
        padding: 10px 50px;
    }
    .offcanvas-header .btn{
        display: block;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
    }
    .offcanvas-header .btn:hover{
        background-color: transparent;
        color: var(--light-gray);
    }
    .offcanvas-show{
        transform: translateY(-100%) !important;
    }
    .temperature-card h3{
        font-size: 22px;
    }
    .primary-button{
        font-size: 20px;
        padding: 10px;
    }
}


@media (max-width: 769px) {
    .help .accordion-body img{
        width: 100%;
    }
    .main-content{
        padding: 20px 10px;
    }
    .dropdown span{
        font-size: 15px;
    }
    .status-card .image-box img{
        width: 80px;
        height: 80px;
    }
    .status-card .text-box{
        margin-left: 15px;
    }
    .status-card .text-box p{
        font-size: 15px;
    }
    .chart-card input{
        font-size: 15px;
    }
    .date{
        font-size: 15px;
    }
    .device-status p{
        font-size: 14px;
    }
    .logs p{
        font-size: 14px;
    }
}